html{
    height:95%;

}
body {
  padding-top: 50px;
    transition: background-color 1s ease, color 1s ease;
    height: 100%;
}

#username {
  color: white;
  float: right;

}
#navright {
  float: right;
}

.panel-body {

}

.poster_date {
   opacity: 0.5;
}

img {
    width: 100%;
}
textarea {
    width: 100%;
    max-width :100%;
    height: 600px;
    max-height: 100px;
}
#day_nightmode {

}

body.night {
    background-color: #404244;
    color: #fff;
}

body.night .description {
    color: #000;
}
.fixed-bottom{
    position: fixed;
    margin-left: 15px;

}
.container{
    height:100%;
}

.notransition {
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -o-transition: none !important;
     transition: none !important;
 }
.comment {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}
.blacktext {
    color:black!important;
}
.poster_date{
    color:#333!important;
}

