html{
    height:95%;
}
body {
  padding-top: 50px;
    transition: background-color 1s ease, color 1s ease;
    height: 100%;
}
#username {
  color: white;
  float: right;

}
#navright {
  float: right;
  float: right;
}

.panel-body {

}

.poster_date {
   opacity: 0.5;
}

img {
    width: 100%;
}
textarea {
    width: 100%;
    max-width :700px;
    height: 100px;
    max-height: 100px;
}
#day_nightmode {

}

body.night {
    background-color: #404244;
    color: #fff;
}

body.night .description {
    color: #000;
}
.fixed-bottom{
    position: fixed;

}
.container{
    height:100%;
}


