body {
  padding-top: 50px;
}
#username {
  color: white;
  float: right;

}
#navright {
  float: right;
  float: right;
}

.panel-body {

}

.poster_date {
   opacity: 0.5;
}

img {
    width: 100%;
}